/*Inicio CCS*/

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Stick No Bills', sans-serif;
    background-color: #2E4053;
}


/*Color navbar*/
.color-nav {
    background-color: #B87320;
    transition: all 1s ease;
}

#colortext-nav {
    color: #2E4053;
    font-family: 'Oswald', sans-serif;
}


/*Color Iconos*/
.color-icon {
    color: #fff;
}


.titulos-nav {
    color: brown;
}

.footer-fin {
    background-color: #B87320;
}



/*Color textos targeta magallanes/carousel*/

.titulo-magallanes {
    color: #6CF70C;
    font-family: 'Oswald', sans-serif;
}


/**/
.Texto-somos {
    font-family: 'Oswald', sans-serif;
    color: gold;
}


/*Textos con font-family*/
.titulo {
    font-family: 'Oswald', sans-serif;
    
}

.subtitulo {
    font-family: 'Oswald', sans-serif;
}

.segu-subtitulo {
    font-family: 'Oswald', sans-serif;
}

h5 {
    font-family: 'Oswald', sans-serif; 
}

p {
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
}


/*Lineas entre textos*/
#Linea-entretexto {
    height: 2px;
    background-color: gold;
}

.nav-img {
    width: 40px;
    height: 40px;
}


/*Viajes Chile Footer*/
.subt-final {
    font-family: 'Stick No Bills', sans-serif;
    text-align: left;
    top: 1265px;
    left: 120px;
    width: 350px;
    height: 55px;
}


